body {
    background-color: rgb(240, 240, 248);
}

h1 {
    font-family: Playfair Display, serif;
    font-style: black;
    font-size: 62pt;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 6px;
    padding-bottom: 2px;
    
}
h3 {
    font-family: Playfair Display, serif;
    font-size: 28pt;
    font-style: black;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 40px;
    margin-left: 40px;
    margin-bottom: 70px;
}

h4 {
    font-family: Playfair Display, serif;
    color:grey;
    font-size: 32pt;
    font-style: italic;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
    opacity: .8;
}

td {
    text-align:center;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}
.text {
    font-size: 2em;
    text-align: center;
    font-family:  Playfair Display, serif;
    color: rgb(15, 15,15);
    text-decoration: none;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}
.home {
    font-size: 24pt;
    font-style: italic;
}

span {
    font-style: italic;
}
.composite {
    margin-left: auto;
      margin-right: auto;
}
div {
    margin-left: auto;
    margin-right: auto;
}
